

{{define "banner"}}
<div class="banner">

    <!--轮播 -->
    <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {{range $index,$value := .banners}}
            {{$value.class}}
            <li style="background-color: {{$value.style}}"><a href="{{$value.href}}"><img src="{{$value.imgSrc}}" /></a></li>
            {{end}}

        </ul>
    </div>
    <div class="clear"></div>
</div>
{{end}}

{{define "shopNav"}}

<div class="shopNav">
    <div class="slideall">

        <div class="long-title"><span class="all-goods">全部分类</span></div>
        <div class="nav-cont" style="white-space:nowrap">
            <ul>
                {{range $index,$value:=.topnav}}
                <li class="index"><a href="{{$value.href}}">{{$value.name}}</a></li>
                {{end}}
            </ul>
            <div class="nav-extra">
                <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
                <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
            </div>
        </div>

        <!--侧边导航 -->
        <div id="nav" class="navfull">
            <div class="area clearfix">
                <div class="category-content" id="guide_2">

                    <div class="category">
                        <ul class="category-list" id="js_climit_li">
                            {{range $index,$value:=.categories}}
                            <li class="appliance js_toggle relative first">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><i><img src="{{$value.cateTitle.imgSrc}}"></i><a class="ml-22" title="{{$value.cateTitle.title}}">{{$value.cateTitle.align}}</a></h3>
                                    <em>&gt;</em></div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    {{range $sortIndex,$sortValue:=$value.sort}}
                                                    <dl class="dl-sort">
                                                        <dt><span title="{{$sortValue.title}}">{{$sortValue.align}}</span></dt>
                                                        {{range $contentIndex,$contentValue:=$sortValue.content}}
                                                        <dd><a title="{{$contentValue}}" href="#"><span>{{$contentValue}}</span></a></dd>
                                                        {{end}}
                                                    </dl>
                                                    {{end}}
                                                </div>
                                                <div class="brand-side">
                                                    <dl class="dl-sort"><dt><span>{{$value.brand.title}}</span></dt>
                                                        {{range $brandeIndex,$brandValue:=$value.brand.content}}
                                                        <dd><a rel="nofollow" title="{{$brandValue.title}}" target="_blank" href="{{$brandValue.href}}" rel="nofollow"><span  class="red" >{{$brandValue.name}}</span></a></dd>
                                                        {{end}}
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <!--轮播-->

        <script type="text/javascript">
            (function() {
                $('.am-slider').flexslider();
            });
            $(document).ready(function() {
                $("li").hover(function() {
                    $(".category-content .category-list li.first .menu-in").css("display", "none");
                    $(".category-content .category-list li.first").removeClass("hover");
                    $(this).addClass("hover");
                    $(this).children("div.menu-in").css("display", "block")
                }, function() {
                    $(this).removeClass("hover")
                    $(this).children("div.menu-in").css("display", "none")
                });
            })
        </script>



        <!--小导航 -->
        <div class="am-g am-g-fixed smallnav">
            {{range $index,$value:=.smallnav}}
            <div class="am-u-sm-3">
                <a href="{{$value.href}}"><img src="{{$value.imgSrc}}" />
                    <div class="title">{{$value.title}}</div>
                </a>
            </div>
            {{end}}
        </div>

        <!--走马灯 -->

        <div class="marqueen">
            <span class="marqueen-title">商城头条</span>
            <div class="demo">

                <ul>
                    {{range $index,$value:=.marqueen}}
                    {{if lt $index 2}}
                    <li class="title-first"><a target="_blank" href="{{$value.href}}">

                        <span>[{{$value.type}}]</span>{{$value.title}}
                        <img src="{{$value.imgSrc}}"></img>
                        <p>{{$value.short}}</p>
                    </a></li>
                    {{else}}
                    <li><a target="_blank" href="{{$value.href}}"><span>[{{$value.type}}]</span>{{$value.title}}</a></li>
                    {{end}}
                    {{end}}

                    <div class="mod-vip">
                        <div class="m-baseinfo">
                            <a href="../person/index.html">
                                <img src="../images/getAvatar.do.jpg">
                            </a>
                            <em>
                                Hi,<span class="s-name">小叮当</span>
                                <a href="#"><p>点击更多优惠活动</p></a>
                            </em>
                        </div>
                        <div class="member-logout">
                            <a class="am-btn-warning btn" href="login.html">登录</a>
                            <a class="am-btn-warning btn" href="register.html">注册</a>
                        </div>
                        <div class="member-login">
                            <a href="#"><strong>0</strong>待收货</a>
                            <a href="#"><strong>0</strong>待发货</a>
                            <a href="#"><strong>0</strong>待付款</a>
                            <a href="#"><strong>0</strong>待评价</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </ul>
                <div class="advTip"><img src="../images/advTip.jpg"/></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">
        if ($(window).width() < 640) {
            function autoScroll(obj) {
                $(obj).find("ul").animate({
                    marginTop: "-39px"
                }, 500, function() {
                    $(this).css({
                        marginTop: "0px"
                    }).find("li:first").appendTo(this);
                })
            }
            $(function() {
                setInterval('autoScroll(".demo")', 3000);
            })
        }
    </script>
</div>
{{end}}

{{define "shopMainbg"}}
<div class="shopMainbg">
    <div class="shopMain" id="shopmain">
        <!--今日推荐 -->
        <div class="am-g am-g-fixed recommendation">
            <!--{{$dayrec:=.dayRec}}-->
            <div class="clock am-u-sm-3">
                <img src="{{.dayRec.topImgSrc}} "></img>
                <p>{{.dayRec.mTitle}}<br>{{.dayRec.sTitle}}</p>
            </div>

            <!--<div class="clock am-u-sm-3">-->
            <!--<img src="../images/2016.png "></img>-->
            <!--<p>今日<br>推荐</p>-->
            <!--</div>-->
            {{range $index,$value:=.dayRec.content}}
            <div class="am-u-sm-4 am-u-lg-3 ">
                <div class="info ">
                    <h3>{{$value.mTitle}}</h3>
                    <h4>{{$value.sTitle}}</h4>
                </div>
                <div class="recommendationMain one">
                    <a href="{{$value.href}}"><img src="{{$value.imgSrc}} "></img></a>
                </div>
            </div>
            {{end}}
        </div>
        <div class="clear "></div>
        <div class="am-container activity ">
            <div class="shopTitle ">
                <h4>{{.activity.mTitle}}</h4>
                <h3>{{.activity.sTitle}} </h3>
                <span class="more ">
                              <a href="{{.activity.allAct}} ">{{.activity.allalign}}<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
            </div>
            <div class="am-g am-g-fixed ">
                {{range $index,$value := .activity.content}}
                <div class="am-u-sm-3 ">
                    <div class="{{$value.style}} "></div>
                    <h4>{{$value.type}}</h4>
                    <div class="activityMain ">
                        <img src="{{$value.imgSrc}} "></img>
                    </div>
                    <div class="info ">
                        <a href="{{$value.href}}"><h3>{{$value.title}}</h3></a>
                    </div>
                </div>
                {{end}}

            </div>
        </div>
        <div class="clear "></div>
        {{range $index,$value:=.floors}}

        <div id="f{{$value.floor}}">
            <div class="am-container ">
                <div class="shopTitle">
                    <h4>{{$value.mTitle}}</h4>
                    <h3>{{$value.sTitle}}</h3>
                    <div class="today-brands ">
                    {{range $brandsIndex,$brandsValue:=$value.brands}}
                    <a href="{{$brandsValue.href}}">{{$brandsValue.name}}</a>
                    {{end}}
                    </div>
                    <span class="more ">
                        <a href="# ">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
                </div>
            </div>
            <div class="am-g am-g-fixed floodFour">
                <div class="am-u-sm-5 am-u-md-4 text-one list ">
                    <div class="word">
                        {{range $wordIndex,$wordValue:=$value.adds.words}}
                        <a class="outer" href="$wordValue.href"><span class="inner"><b class="text">{{$wordValue.text}}</b></span></a>
                        {{end}}
                    </div>
                    <a href="{{$value.adds.href}} ">
                        <div class="outer-con ">
                            <div class="title ">
                                开抢啦！
                            </div>
                            <div class="sub-title ">
                                零食大礼包
                            </div>
                        </div>
                        <img src="{{$value.adds.imgSrc}} " />
                    </a>
                    <div class="triangle-topright"></div>
                </div>
                {{range $floorIndex,$floorValue:=$value.floors}}
                <div class="{{$floorValue.style}}">
                    <div class="outer-con ">
                        <div class="title ">
                            {{$floorValue.tytle}}
                        </div>
                        <div class="sub-title ">
                            ¥{{$floorValue.price}}
                        </div>
                        <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                    </div>
                    <a href="{{$floorValue.href}}"><img src="{{$floorValue.imgSrc}}" /></a>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">恒望科技</a>
                    <b>|</b>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="# ">支付宝</a>
                    <b>|</b>
                    <a href="# ">物流</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="# ">关于恒望</a>
                    <a href="# ">合作伙伴</a>
                    <a href="# ">联系我们</a>
                    <a href="# ">网站地图</a>
                    <em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
                </p>
            </div>
        </div>

    </div>
</div>
{{end}}

{{define "navCir"}}
<div class="navCir">
    <li class="active"><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
    <li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>
</div>
{{end}}

{{template "common/layout.html" .}}