{{define "header"}}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{.title}}</title>

    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

    <link href="basic/css/demo.css" rel="stylesheet" type="text/css" />

    <link href="css/hmstyle.css" rel="stylesheet" type="text/css"/>
    <link href="css/skin.css" rel="stylesheet" type="text/css" />
    <script src="AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>

</head>
{{end}}

{{define "content"}}

{{template "banner" .}}
{{template "shopNav" .}}
{{template "shopMainbg" .}}
{{template "navCir" .}}

{{end}}
{{template "common/index.html" .}}